/*typeface overrides*/
body {
	font-size: 2vmin;
	font-family: 'Open Sans', sans-serif;
    background-image: url('/css/images/bg.png');
}

h1 {
	color: #3e3e3e;
	font-weight: 300;
	letter-spacing: -0.04em;
	font-size: 4vmin;
}

p {
	line-height: 3.8vmin;
	margin-bottom: 3.8vmin;
}

/*layout overrides*/
body {
	padding-bottom: 19vw;
}

section:first-of-type,
section {
	padding:2vw 0 2vw 0;
    background: transparent;
    box-shadow:none;
}

body>section {
	text-align:left;
}

body>section ul ul li {
	display:inline-block;
	width:30%;
}

section.module {
	border:solid 1px #ddd;
	margin:auto;
	width:80%;
	background-color:#fff;
	box-shadow:3px 1px 4px rgba(0,0,0,0.1), inset 0px 0px 40px rgba(0,0,0,0.05);
    margin:30vh auto;
	text-align:left;
	text-shadow:none;
	position:relative;
}

section.module header {
	text-align:center;
}

section.module aside.timings {
	font-size:80%;
	text-align:right;
	display:inline-block;
	color:#303030;
	position:absolute;
	bottom:0;
	right:0;
	padding:0.6vh 3vh;
	border:solid 1px #ccc;
	border-width:1px 0 0 1px;
	border-radius:1em 0;
}

section.module aside.attribution {
	font-size:80%;
	text-align:left;
	display:inline-block;
	color:#303030;
	position:absolute;
	bottom:0;
	left:0;
	padding:0.6vh 3vh;
	border:solid 1px #ccc;
	border-width:1px 1px 0 0;
	border-radius:0 1em;
}

footer {
    background-image: url('/css/images/bg.png');
    color: #333;
    box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.05), inset 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
    background-color: #fafafa;
    text-shadow: 1px 1px 0px #fff;
	height: 10.1vw;
	position: fixed;
	bottom: 0;
	width: 100%;
}

footer>ul {
	transform: rotate(-90deg);
	transform-origin: 58% 4.5% 0px;
	text-align: left;
	float: left;
	line-height: 1.25vw;
}

footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

footer li {
	margin: 0;
	padding: 0;
	font-size: 0.6vw;
	position: relative;
}

footer li>div {
	z-index: -1;
	border: solid 1px #303030;
	border-width: 0 0 1px 0;
	position: absolute;
	width: 1%;
	height: 1.25vw;
	background-color: #EAB78A;
	border-radius:0 0 5px 0;
    transition: width 1s;
}

nav#agenda {
	display: none;
	position: fixed;
	width: 72vmin;
	font-size: 2.2vmin;
	text-align: left;
}

nav#agenda ul,
nav.agenda ol {
	padding-left: 0.8em;
	margin-left: 0.8em;
	line-height: 3vmin;
}


nav#agenda ul li li li,
nav#agenda ol li li li {
	display: none;
}
