.berteig {
	font-family: 'Trajan Pro';
	letter-spacing: 0.4px;
}

header img {
	border-radius: 50%;
	width: 70%;
	max-width: 10em;
}

section.blogs nav {
	text-align: center;
	margin: 0;
	font-size: 80%;
}

section.blogs ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

section.blogs nav>ul {
	margin: 2vw;
	margin-left: auto;
	margin-right: auto;    /*width:50vmin;*/
}

section.blogs nav>ul:after {
	content: "\00a0";
	clear: both;
}

section.blogs nav>ul>li {
	font-weight: 600;
	width: 42%;
	margin: 4%;
	float: left;
	height: 45vmin;
	background: #fff;
	box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15), 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
	padding: 2vw 2vw 2vw 2vw;
}

section.blogs nav>ul>li ul {
	margin-top: 2vw;
	font-weight: normal;
}

section.blogs nav>ul>li:before {
	cursor: pointer;
	font-family: FontAwesome;
	color: #EAB78A;
	content: "\f09e";
	display: block;
	margin: 8vmin 0 4vmin 0;
	font-size: 8vmin;
	line-height: 8vmin;
}

section.blogs nav>ul>li.business:before {
	content: "\f0ec";
}

section.blogs nav>ul>li.technology:before {
	content: "\f06d";
}

section.blogs nav>ul>li.music:before {
	content: "\f001";
}

section.blogs nav>ul>li.brilliance:before {
	content: "\f0eb";
}

section.blogs nav>ul>li.politics:before {
	content: "\f19c";
}

section.blogs nav>ul>li.gaia:before {
	content: "\f0ac";
}

section.onlinecommunities {
	background-color: #f4f4f4;
}

section a.button {
	padding: 4vmin 8vmin 4vmin 8vmin;
	position: relative;
	display: inline-block;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	border: 0;
	outline: 0;
	cursor: pointer;
	border-radius: 0.5em;
	text-shadow: -0.05em -0.05em 0.02em rgba(0, 0, 0, 0.5);
	overflow: hidden;
	background: #61b8db;
	background-image: linear-gradient(to bottom, rgba(97, 184, 219, 0), rgba(48, 141, 196, 1));
	box-shadow: inset 0 0 0 0.05em #135c86, inset 0 0.1em 0.05em 0 rgba(255, 255, 255, 0.75);
	transition: background-color .2s ease-in-out;
}

section a.button:hover {
	background-color: #76cdf0;
}

nav.socialbuttons {
	margin-bottom: 8vmin;
}

nav.socialbuttons ul {
	margin: 0;
	list-style: none;
	padding: 0px;
}

nav.socialbuttons ul>li {
	width: 10vmin;
	height: 10vmin;
	display: inline-block;
	background: #e4e4e4;
	border-radius: 0.2em;
	text-shadow: -0.02em -0.02em 0.02em rgba(0, 0, 0, 0.2);
	overflow: hidden;
	background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	background-image: linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2));
	box-shadow: inset 0 0 0 0.02em #bbb, inset 0 0.1em 0.05em 0 rgba(255, 255, 255, 0.75);
	transition: background-color .2s ease-in-out;
}

nav.socialbuttons ul>li:hover {
	background: #aaa;
	box-shadow: inset 0 0 0 0.02em #bbb, inset 0 0.1em 0.05em 0 rgba(255, 255, 255, 0.75);
	background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2));
}

nav.socialbuttons ul>li a {
	display: block;
	transition: color 0.2s ease-in-out;
}

nav.socialbuttons ul>li a:hover {
	color: #fff;
	background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2));
	background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2));
	background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2));
	background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2));
	background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2));
	background-image: linear-gradient(top, rgba(255, 255, 255, 0.2), rgba(0, 0, 0, 0.2));
}

nav.socialbuttons ul > li a::before {
	cursor: pointer;
	font-family: FontAwesome;
	content: "\f09e";
	font-size: 6vmin;
	padding-right: 4vmin;
	height: 10vmin;
	line-height: 10.8vmin;
	padding-left: 2.5vmin;
}

nav.socialbuttons ul > li a.github::before {
	content: "\f113";
	padding-left: 2.3vmin;
}

nav.socialbuttons ul > li a.github:hover {
	background: #677c89;
	box-shadow: inset 0 0 0 0.02em #829aa8, inset 0 0.1em 0.05em 0 rgba(255, 255, 255, 0.2);
}

nav.socialbuttons ul > li a.codepen::before {
	content: "\f1cb";
	padding-left: 2.0vmin;
}

nav.socialbuttons ul > li a.codepen:hover {
	background: #f9f044;
	box-shadow: inset 0 0 0 0.02em #d2a346, inset 0 0.1em 0.05em 0 rgba(255, 255, 255, 0.2);
}

nav.socialbuttons ul > li a.drupal::before {
	content: "\f1a9";
	padding-left: 2.5vmin;
}

nav.socialbuttons ul > li a.drupal:hover {
	background: #0678be;
	box-shadow: inset 0 0 0 0.02em #56b3e6, inset 0 0.1em 0.05em 0 rgba(255, 255, 255, 0.2);
}

nav.socialbuttons ul > li a.facebook::before {
	content: "\f09a";
	padding-left: 3.3vmin;
}

nav.socialbuttons ul > li a.facebook:hover {
	background: #133783;
	box-shadow: inset 0 0 0 0.02em #3b5998, inset 0 0.1em 0.05em 0 rgba(255, 255, 255, 0.2);
}

nav.socialbuttons ul > li a.googleplus::before {
	content: "\f0d5";
}

nav.socialbuttons ul > li a.googleplus:hover {
	background: #ce3d2b;
	box-shadow: inset 0 0 0 0.02em #dc4b37, inset 0 0.1em 0.05em 0 rgba(255, 255, 255, 0.2);
}

nav.socialbuttons ul > li a.soundcloud::before {
	content: "\f1be";
	padding-left: 1.2vmin;
}

nav.socialbuttons ul > li a.soundcloud:hover {
	background: #F76700;
	box-shadow: inset 0 0 0 0.02em #C53421, inset 0 0.1em 0.05em 0 rgba(255, 255, 255, 0.2);
}

nav.socialbuttons ul > li a.wordpress::before {
	content: "\f19a";
	padding-left: 2.1vmin;
}

nav.socialbuttons ul > li a.wordpress:hover {
	background: #0085be;
	box-shadow: inset 0 0 0 0.02em #6C98BA, inset 0 0.1em 0.05em 0 rgba(255, 255, 255, 0.2);
}

nav.socialbuttons ul > li a.linkedin::before {
	content: "\f0e1";
}

nav.socialbuttons ul > li a.linkedin:hover {
	background: #2672ae;
	box-shadow: inset 0 0 0 0.02em #6C98BA, inset 0 0.1em 0.05em 0 rgba(255, 255, 255, 0.2);
}

nav.socialbuttons ul > li a.trello::before {
	content: "\f181";
}

nav.socialbuttons ul > li a.trello:hover {
	background: #27709b;
	box-shadow: inset 0 0 0 0.02em #65879C, inset 0 0.1em 0.05em 0 rgba(255, 255, 255, 0.2);
}

nav.socialbuttons ul > li a.tumblr::before {
	content: "\f173";
	padding-left: 3vmin;
}

nav.socialbuttons ul > li a.tumblr:hover {
	background: #2c4762;
	box-shadow: inset 0 0 0 0.02em #829aa8, inset 0 0.1em 0.05em 0 rgba(255, 255, 255, 0.2);
}

nav.socialbuttons ul > li a.twitter::before {
	content: "\f099";
}

nav.socialbuttons ul > li a.twitter:hover {
	background: #28c;
	box-shadow: inset 0 0 0 0.02em #829aa8, inset 0 0.1em 0.05em 0 rgba(255, 255, 255, 0.2);
}

nav.socialbuttons ul > li a.windows::before {
	content: "\f17a";
	padding-left: 2.1vmin;
	line-height: 10vmin;
}

nav.socialbuttons ul > li a.windows:hover {
	background: #00bcf2;
	box-shadow: inset 0 0 0 0.02em #0072c6, inset 0 0.1em 0.05em 0 rgba(255, 255, 255, 0.2);
}

nav.socialbuttons ul > li a.youtube::before {
	content: "\f167";
}

nav.socialbuttons ul > li a.youtube:hover {
	background: #c0181d;
	box-shadow: inset 0 0 0 0.02em #e02927, inset 0 0.1em 0.05em 0 rgba(255, 255, 255, 0.2);
}

nav.socialbuttons ul > li a.gittip::before {
	content: "\f184";
}

nav.socialbuttons ul > li a.gittip:hover {
	background: #630;
	box-shadow: inset 0 0 0 0.02em #66594B, inset 0 0.1em 0.05em 0 rgba(255, 255, 255, 0.2);
}

nav.sociallist ul {
	margin: 0;
	list-style: none;
	padding: 0px;
	margin-bottom: 8vmin;
}

nav.sociallist ul>li {
	display: inline-block;
	padding-right: 2vmin;
	padding-bottom: 2vmin;
}