body { font-size: 3.8vmin;
font-family: 'Open Sans', sans-serif; 
text-align:center; }

p {
    line-height: 6vmin;
    margin-bottom: 12vmin;
}

header img { border-radius: 50%; 
    width: 80%;
    max-width: 300px;
}

nav { width: 100%;
    font-size:85%;
    position: fixed;
    text-align: center;
    color: #888;
    background-color: #282828;
    height: 50px;
     }


nav ul { margin:0;
padding:0;
     }

nav ul li { display:inline-block; }

nav ul li a {
    height:50px;
    line-height:50px;
    padding: 0 2vw 0 2vw;
    color: #fff;
    border-radius: 8px;
    font-weight: 600;
    outline: 0;
    text-decoration: none;
    display: block;
    list-style: none;
    position: relative;
}

nav ul li a:hover { background-color:#888; }

strong { font-weight: 120%; }

section { /* padding:20vmin 20vw 20vmin 20vw;*/
    padding: 20vmin 0 20vmin 0;
    width:80vw;
    max-width:880px;
    margin-left:auto;
    margin-right:auto;
}

h1 {
    color: #3e3e3e;
    font-weight: 300;
    letter-spacing: -0.04em;
    font-size: 8vmin;
}

.nowrap { white-space:nowrap; }

.button {
    padding:4vmin 8vmin 4vmin 8vmin;
    position: relative;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    border: 0;
    outline: 0;
    cursor: pointer;
    border-radius: 8px;
    text-shadow: -1px -1px 0.5px rgba(0,0,0,0.5);
    overflow: hidden;
    background: #61b8db;
    background-image: linear-gradient(to bottom, rgba(97,184,219,0), rgba(48,141,196,1));
    box-shadow: inset 0px 0px 0px 1px #135c86, inset 0px 2px 1px 0px rgba(255,255,255,0.75);
    transition: background-color .2s ease-in-out;
}

.button:hover {
    background-color: #76cdf0;
    
}

@media all and (min-width: 925px) {

article header { text-align:left; }

header img { float:left; margin-right:1em;}

}