body {
	font-size: 3vmin;
	font-family: 'Open Sans', sans-serif;
}

section a,
section a:visited {
	color: #000; /* #3b95c6;*/
	text-decoration: none;
}

section a:hover,
section a:active {
	color: #EAB78A;
}

h1 {
	color: #3e3e3e;
	font-weight: 300;
	letter-spacing: -0.04em;
	font-size: 6vmin;
}

p {
	line-height: 5vmin;
	margin-bottom: 5vmin;
}

strong {
	font-weight: 120%;
}

sup {
	font-size:40%;
}

.nowrap {
	white-space: nowrap;
}